.cardBox {
  width: 300px;
  height: 400px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;background: #000814;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}
.cardBox h3{
  color: white;
}
.card {
  position: absolute;
  width: 95%;
  height: 95%;
  
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}


.card .content h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.card .content p {
  font-size: 1.1rem;
  line-height: 25px;
}
.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}
.card:hover {
    background: #0ebed17c;
}


@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SearchBox */

.search-box {
    margin: 50px 50px;
    display: flex;
    align-items: center;
  }
  
  .search-box__input {
    padding: 8px;
    border: 2px solid #0ebed17c;
    border-radius: 4px;
    margin-right: 8px;
    flex-grow: 1;
  }
  
  .search-box__button {
    padding: 8px 16px;
    background-color: #000814;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-box__button:hover {
    cursor: pointer;
    background: #0ebed17c;
  }
  